// Place all the styles related to the Forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
	border:0;
	margin:0;
	padding:0;
}
body{
	font-family:"Arial Rounded MT Bold";
}
#canvas_content{
	width:50%;
	width: 100%;
	position:relative;
}

.drag_drop{
	position:absolute;
	top:0;
	right:0;
	width:200px;
	height:20px;
	background-color:#666;
	text-align:center;
}

#fields_content{
	width:30%;
	background-color:#ccc;
	height:500px;
	float:right;
}

#droppable{
	width: 50%;
	float:left;
}

.clear{
	clear:both;
}

h1{
	text-align:center;
}

.field_selector > div{
	position:relative;
	height:3em;
}