#canvas_content{
	width:50%;
	width: 100%;
	position:relative;
}

.drag_drop{
	position:absolute;
	top:0;
	right:0;
	width:200px;
	height:20px;
	background-color:#666;
	text-align:center;
}

#fields_content{
	width:30%;
	background-color:#ccc;
	height:500px;
	float:right;
}

#droppable{
	width: 50%;
	float:left;
}

.field_selector > div{
	position:relative;
	height:3em;
}